/* FONT-FACE */

@font-face {
    font-family: 'BebasNeueRegular';
    src: url('../fonts/BebasNeue-webfont.eot');
    src: url('../fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BebasNeue-webfont.woff') format('woff'),
         url('../fonts/BebasNeue-webfont.ttf') format('truetype'),
         url('../fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* Styles ovverride */

body#default {
    background-image: url('../img/bg.png');
    background-repeat: no-repeat;
}

#header {
    height: 180px;
}

#header-right {
    margin-top: 9px;
}

#item p {
    width: 860px;
    height: 120px;
}

.navbar .brand {
	text-transform: uppercase;
	font-family: 'BebasNeueRegular', Helvetica, Arial, sans-serif;
	font-size: 22px;
    font-weight: normal;
	padding-bottom: 0;
	padding-top: 13px;
	padding-right: 20px;
}

.thumbnails img {
    outline: 1px solid gray;
}

#footer img {
    opacity: .6;
}

#footer img:hover {
    opacity: 1;
}